{{> menu}}

<div class="columns is-desktop">
    <div class="column is-narrow">
        <section class="section">
            <div class="box" style="width: 300px;">
                {{> dashboard-menu active="a-dashboard"}}
            </div>
        </section>
    </div>
    <div class="column">
        <section class="section">
                <div class="box">
                    <h1 class="title">{{title}}</h1>
                    <h2 class="subtitle">
                        {{subtitle}}
                    </h2>
                </div>
                <div class="box">
                    <div class="columns">
                        <div class="column is-one-third">
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image is-square">
                                    <img src="/images/user.png" alt="Placeholder image">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-content">
                                            <p class="title is-4">{{user.firstName}} {{user.lastName}}</p>
                                            <p class="subtitle is-6">{{user.email}}</p>
                                        </div>
                                    </div>

                                    <div class="content">
                                        {{#if admin}}
                                            <p><b>Admin</b></p>
                                        {{else}}
                                            <p><b>User</b></p>
                                        {{/if}}
                                    </div>
                                </div>
                                <footer class="card-footer">
                                    <a href="/account/edit" class="card-footer-item button is-primary">Edit</a>
                                </footer>
                            </div>
                        </div>
                        <div class="column">
                            Second column
                        </div>
                        <div class="column">
                            Third column
                        </div>
                        <div class="column">
                            Fourth column
                        </div>
                    </div>
                </div>
            </section>
    </div>
</div>